.about {
    margin-top: 1.25em;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-column-gap: 1.25em;
}

.logo {
    display: block;
    height: 200px;
    border: 1px solid #000;
}

.about > .about__img {
    display: block;
    height: 100px;
    border: 1px solid #000; 
}

.about  .about__info  h2 {
    margin: 0;
    padding: 0;
}

.about  .about__info  p {
    margin: 0;
    font: 1.25em 'Arial';
}

.about  .about__info  p b {
    color: rgb(199, 64, 64);
}

.contacts {
    
}